@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-6 py-2 rounded-full border border-blue-500 text-blue-400 hover:bg-blue-500 hover:text-black transition;
  }
}

html {
  scroll-behavior: smooth;
}

/* Hide default swiper arrows to use your custom external ones */
.swiper-button-next, 
.swiper-button-prev {
  display: none !important;
}
